@model MyProjectModel


<p class="portfolio-modal__title">@Model.MyProjectHeader</p>
<img class="portfolio-modal__img" src="~/images/@Model.MyProjectImages" alt="modal_img">
<p class="portfolio-modal__description">
    @Model.MyProjectDescription
</p>
<div class="portfolio-modal__link">
    <a href="@Model.MyProjectLink">@Model.MyProjectLink</a>
</div>

